@model List<LoveThemBackWebApp.Models.Pet>

@{
  ViewData["Title"] = "Details";
}

@{
  Layout = "_Layout";
}


@foreach (var pet in Model)
{
  <table>
    <tr>
      <td>
        @Html.DisplayFor(modelItem => pet.id.tspo)
      </td>
      <td>
        @Html.DisplayFor(modelItem => pet.name.tsju)
      </td>
      <td>
        @Html.DisplayFor(modelItem => pet.age.tsna)
      </td>
      <td>
        @Html.DisplayFor(modelItem => pet.description.tsnve)
      </td>
    </tr>
  </table>

  @foreach (var review in pet.review)
  {
    <div>
      <p>Reviews:</p>
      <p>@Html.DisplayFor(modelItem => review.Impression)</p>
    </div>
  }
}