@model LoveThemBackWebApp.Models.PetPost

@{
  ViewData["Title"] = "Details";
}

@{
  Layout = "_Layout";
}

@{ 
    string[] image = Model.Photos.Split(",");
}

<section>
  <img src="@image[1]" />
  <div>
    <h3>@Html.DisplayFor(modelItem => Model.Name)</h3>
    <p>@Html.DisplayFor(modelItem => Model.Animal)</p>
    <p>@Html.DisplayFor(modelItem => Model.Description)</p>
  </div>
</section>

<section class="review">

    <form method="get">
        <input type="hidden" name="UserID" value="1" />
        <input type="hidden" name="PetID" value="@Model.PetID" />

        <input type="submit" asp-action="Review" value="Add A Review"/>
    </form>

    <h3>Reviews</h3>
    @if (Model.Review != null)
    {
        @foreach (var review in Model.Review)
        {
            <div>
                <p>@Html.DisplayFor(modelItem => review.Impression)</p>
            </div>
        }
    }
</section>
