@model dynamic
@using System.Drawing

@{
  ViewData["Title"] = "Details";
}

@{
  Layout = "_Layout2";
}

@{
  string[] image = Model.GetPet.Photos.Split(",");
  Random rand = new Random();
  var aff = "";
  var friend = "";
  var energy = "";
  var healthy = "";
  var intelligent = "";
  var cheery = "";
  var playful = "";
  string[] imagesplit = image[rand.Next(0, image.Length)].Split("&");
}

@await Html.PartialAsync("_NAVPartial", (string)Model.User.Username)

<section class="profile-container">
  <div class="polaroid-look">
    <img id="profile-image" src="@imagesplit[0]" />
    <div class="text-container">
      <h2>@Model.GetPet.Name</h2>
      <p>Breed: @Model.GetPet.Breed</p>
      <p>Age: @Model.GetPet.Age</p>
      <p>Sex: @Model.GetPet.Sex</p>
      <p>Phone: @Model.GetPet.Phone</p>
      <p>Email: @Model.GetPet.Email</p>
    </div>
  </div>
</section>

<section class="profile-buttons">
  <form class="create" asp-controller="Pet" asp-action="Index">
    <p class="create">
      <input type="hidden" name="SearchString" value="@Model.Search">
      <input type="submit" value="Back to List" />
    </p>
  </form>
  <form class="create" asp-controller="Pet" asp-action="AddFavorites">
    <p class="create">
      <input type="hidden" name="userID" value="@Model.User.UserID">
      <input type="hidden" name="petID" value="@Model.GetPet.PetID">
      <input type="submit" value="Add to Favorites" />
    </p>
  </form>

  <form class="create" method="get">
    <p class="create">
      <input type="hidden" name="PetID" value="@Model.GetPet.PetID" />
      <input type="submit" asp-action="Review" value="Add/Edit A Review" />
    </p>
  </form>
</section>

<section class="review">
  <h2>Reviews</h2>
  @if (Model.GetPet.Review != null)
  {
    int count = 0;
    @foreach (var review in Model.GetPet.Review)
    {
      <div class="review-card">
        <h3>@Model.ReviewUser[count].Username Says:</h3>
        @if (review.Affectionate == true)
        {
          aff = "Affectionate!";
        }
        @if (review.Friendly == true)
        {
          friend = "Friendly!";
        }
        @if (review.HighEnergy == true)
        {
          energy = "High Energy!";
        }
        @if (review.Healthy == true)
        {
          healthy = "Healthy!";
        }
        @if (review.Intelligent == true)
        {
          intelligent = "Intelligent!";
        }
        @if (review.Cheery == true)
        {
          cheery = "Cheery!";
        }
        @if (review.Playful == true)
        {
          playful = "Playful!";
        }
        <p>@Model.GetPet.Name is: @aff @friend  @energy @healthy @intelligent @cheery @playful</p>
        <h5>Other Observations:</h5>

        <p>@review.Impression</p>
      </div>
      count++;
    }
  }
</section>
