@model dynamic

@{
    var user = ViewBag.username;
    Layout = "_Layout2";
}
<h2>Welcome @Model.User.Username</h2>
<p>@Model.User.UserID</p>


<h3>Enter Zip Code</h3>
<form asp-controller="Pet" asp-action="Index">
    <p class="create">
        <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
@if (Model != null)
{
    @foreach (var pet in Model.Pets)
    {
        <div class="card">
            <img src="@pet.media.photos.photo[0].data" />
            <h3>@pet.name.data</h3>
            <p>@pet.id.data</p>
            <a asp-action="Details" asp-route-username="@user" asp-route-id="@pet.id.data" asp-route-search="@Model.Search">Details</a>
        </div>
    }
}

       
