@model dynamic

@await Html.PartialAsync("_NAVPartial", (string)Model.User.Username)

@{
  Layout = "_Layout2";
}

<h2>Welcome @Model.User.Username</h2>

<h3>Enter Zip Code</h3>
<form asp-controller="Pet" asp-action="Index">
  <p class="create">
    <input type="text" name="SearchString">
    <input type="submit" value="Filter" />
  </p>
</form>
<div class="deck">
    @if (Model != null)
    {
        @foreach (var pet in Model.Pets)
        {
            <div class="card">
                <img class="card_img" src="@pet.media.photos.photo[2].data" />
                <h3>@pet.name.data</h3>
                <p>@pet.id.data</p>
                <a asp-action="Details" asp-route-id="@pet.id.data" asp-route-search="@Model.Search">Details</a>
            </div>
        }
    }
</div>



