@*@model IEnumerable<LoveThemBackWebApp.Models.PetPost>*@
@model dynamic
@*@model List<LoveThemBackWebApp.Models.PetPost>*@

@{
    Layout = "_Layout2";
}

@await Html.PartialAsync("_NAVPartial", (string)Model.User.Username)

<div class="deck">
    @foreach (var item in Model.Favorites)
    {
        <div class="favCard">
            <ul>
                <li class="title">@item.Name</li>
                <li><img class="fav_card_img" src="@item.Photos" alt="image of pet" /></li>
                <li><p>Animal: </p>@item.Animal</li>
                <li><p>Breed: </p>@item.Breed</li>
                <li><p>Gender: </p>@item.Sex</li>
                <li>
                    <form action="/favorite/Delete" method="post">
                        <input type="hidden" name="PetID" value="@item.PetID" />
                        <button class="search-button" type="submit">UnFavorite</button>
                    </form>
                </li>
            </ul>
        </div>
    }
 </div>
